# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#BootLoader
/BootLoader/BootLoader/MDK-ARM/Bootloader/*
/BootLoader/BootLoader/MDK-ARM/DebugConfig/*
/BootLoader/BootLoader/MDK-ARM/RTE/*

#MDK-ARM
#/MDK-ARM/DebugConfig/*
#/MDK-ARM/RTE/*
/MDK-ARM/ST590/*
/MDK-ARM/RTE/*
/MDK-ARM/*.uvguix.*
#/MDK-ARM/*.uvoptx
#/MDK-ARM/*.uvprojx
/MDK-ARM/*.uvgui.*
/MDK-ARM/*.uvopt
/MDK-ARM/*.uvproj.*
#/MDK-ARM/*.scvd
/MDK-ARM/*.lst

#Drivers
/Drivers/CMSIS/Core_A/*
/Drivers/CMSIS/DSP/*
/Drivers/CMSIS/Lib/*
/Drivers/CMSIS/NN/*
/Drivers/CMSIS/RTOS/*
/Drivers/CMSIS/RTOS2/*

#GDB
/VisualGDB/VisualGDB/Debug
/VisualGDB/VisualGDB/VisualGDB/Debug